<div class="rating">
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
</div>

<script>
    const rating_stars = [...document.getElementsByClassName("fa-star")];
    const starClassChecked = "fa fa-star checked"
    let i = 0;

    const fill_stars = (stars) => {
        console.log(rating)
        stars.map((star) => {
            for (i; i < rating; i++) {
                stars[i].className = starClassChecked;
            }
        })
    }

    fill_stars(rating_stars);
</script>