<div>
    <div>
        {% if request.user == post.user %}
            <p>Vous avez publié une critique</p>
        {% else %}
            <p>{{ post.user }} a publié une critique</p>
        {% endif %}
        <p>{{ post.time_created | date:'h:H, d F Y'}}</p>
    </div>
    <div>
        <p>{{ post.headline }}</p>
        <p>{{ post.rating }}</p>
    </div>
    <div>
        {% include 'feed/ticket.html' with post=post.ticket %}
    </div>
    {% if request.user == post.user %}
    <div>
        <a href="{% url 'review_update' post.id %}">Modifier</a>
        <a href="{% url 'review_delete' post.id %}">Supprimer</a>
    </div>
    {% endif %}
</div>