{% extends 'base.html' %}
{% block content %}
    <h1>Suivre d'autres utilisateurs</h1>
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" >Envoyer</button>
    </form>
    <h2>Abonnements</h2>
    <div>
        {% if followed_users %}
        {% for elem in followed_users %}
        <div>
            <p> {{ elem.followed_user }} </p>
            <form action="{% url 'unfollow' id_user=elem.followed_user.id %}" method="post">
                {% csrf_token %}
                <button type="submit"> Se désabonner</button>
            </form>
        </div>
        {% endfor %}
        {% else %}
        <p> Vous n'avez pas d'abonnements</p>
        {% endif %}
    </div>
    <h2>Abonnés</h2>
    <div>
        {% if following_users %}
        {% for elem in following_users %}
        <div>
            <p> {{ elem.user }} </p>
        </div>
        {% endfor %}
        {% else %}
        <p> Vous n'avez pas d'abonnés</p>
        {% endif %}
    </div>
{% endblock content %}