{% load static %}

<html>
    <head>
        <title>LITReview</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div id="navbar">
            <h1>LITReview</h1>
            {% if user.is_authenticated %}
            <div id="items-navbar">
                <a href="{% url 'home' %}">Accueil</a>
                <a href="{% url 'posts' %}">Posts</a>
                <a href="{% url 'follow' %}">Abonnements</a>
                <a href="{% url 'logout' %}">Se déconnecter</a>
            </div>
            {% endif %}
        </div>
        {% block content %}{% endblock content %}
    </body>
</html>